.library{
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: rgb(236, 253, 253);
    box-shadow: 1px 1px 5px gray;
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2{
        padding: 2rem 0;
    }
}

.library-song{
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: background 0.5s ease;
    img{
        width: 30%;
    }
    &:hover{
        background: rgb(222,222,255);
    }
}

.song-description{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.7rem;
    }
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar{
   width: 5px;
}

*::-webkit-scrollbar-track{
    background: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color:rgba(155, 155, 155, 0.5);
}

.selected{
    background: rgb(165, 151, 226);
}

.active-library{
    transform: translateX(0);
    opacity: 1;
}

.inactive-library{
    transform: translateX(-100%);
    opacity: 0;
}

.library-reset{
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
       border: none;
       background: none;
       font-size: 1.5rem;
        height: 30px;
        cursor: pointer;
        transition: font-size 0.4s ease;
        &:hover{
            font-size: 1.7rem;
        }
    }
}

@media screen and (max-width: 768px){
    .library{
        width: 100%;
    }
    .library-reset{
        height: 5rem;
        justify-content: start;
        padding-left: 5rem;
        h2{
            display: none;
        }
    }
 }
     